<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
/>
<app-navbar></app-navbar>
<div class="image-container">
  <img src="https://i.imgur.com/LhWhJZE.png" />
</div>

<div class="searchbar-container">
  <form>
    <input
      class="form-control searchbar"
      type="search"
      placeholder="Search books"
      aria-label="Search"
      [(ngModel)]="input"
      name="input"
      (keydown.enter)="searchBooks(input)"
    />
    <div class="search-icon" (click)="searchBooks(input)">
      <i class="fas fa-search"></i>
    </div>
  </form>
</div>

<div *ngFor="let bookInfo of searchResults" class="search-results">
  <app-book-card [bookInfo]="bookInfo"></app-book-card>
</div>
