.book-card-container {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}

.book-card-image-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.book-card-image {
  width: 150px;
  height: 250px;
}
.book-card-body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.max-lines {
  width: calc(50vw);
  height: auto;
  max-height: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  overflow: hidden;
}

.already.read {
  background-color: #5bd16b;
  border-color: transparent;
}

.currently.reading {
  background-color: #ffb74d;
  border-color: transparent;
}

.want.to.read {
  background-color: cornflowerblue;
  border-color: transparent;
}
