<div class="book-card-container">
  <div class="book-card-image-container">
    <img class="book-card-image" src="{{ bookInfo?.smallThumbnail }}" />
  </div>
  <div class="book-card-body">
    <h5>{{ bookInfo?.title }}</h5>
    <div *ngFor="let author of bookInfo?.authors" class="book-card-authors">
      <p>{{ author }}</p>
    </div>
    <p class="max-lines">{{ bookInfo?.description }}</p>
    <div class="dropdown" *ngIf="status === 'null'">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Want to Read?
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" (click)="addBookToUserBooks('already read')"
            >Already read</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            (click)="addBookToUserBooks('currently reading')"
            >Currently reading</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="addBookToUserBooks('want to read')"
            >Want to read</a
          >
        </li>
      </ul>
    </div>
    <div class="button-to-my-books" *ngIf="status != 'null'">
      <button
        class="btn btn-secondary {{ status }}"
        type="button"
        [routerLink]="['/myBooks']"
      >
        {{ status }}
      </button>
    </div>
  </div>
</div>
