.my-book-details-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem;
}

.my-book-details-image-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-bottom: 2rem;
}

.my-book-details-image {
  height: 20rem;
}

.my-book-details-body {
  display: flex;
  flex-direction: column;
  justify-content: Top;
  text-align: start;
  margin-left: 3rem;
}

.star-rating {
  padding-block: 1rem;
  display: flex;
  justify-content: center;
}

.fa-star {
  color: gray;
  font-size: 2rem;
}

.fa-star:hover {
  cursor: pointer;
  color: #ffb74d;
  font-size: 2.3rem;
}

.fa-star.selected {
  color: #ffb74d;
}

.rating-list {
  list-style: none;
}
