<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
/>
<app-navbar></app-navbar>
<div class="my-book-details-container">
  <div class="my-book-details-image-container">
    <img class="my-book-details-image" src="{{ book?.image }}" />
    <div class="star-rating">
      <div *ngFor="let star of stars; let i = index">
        <li class="rating-list">
          <i
            (click)="countStar(star)"
            id="{{ 'starId' + i }}"
            class="fas fa-star"
            [ngClass]="{ selected: star <= selectedValue }"
            (mouseover)="addClass(star)"
            (mouseout)="removeClass(star)"
          ></i>
        </li>
      </div>
    </div>
  </div>
  <div class="my-book-details-body">
    <h1>{{ book?.title }}</h1>
    <h3>{{ book?.author }}</h3>
    <p>{{ book?.description }}</p>
  </div>
</div>
