<app-navbar></app-navbar>
<div class="my-header" id="container">
  <h1>My Books</h1>
</div>
<div class="my-books-container">
  <ng-container *ngFor="let book of myBooks">
    <app-my-book-card
      [book]="book"
      [onOpenModal]="onOpenModal"
    ></app-my-book-card>
  </ng-container>
</div>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove Book?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this book from your list?</p>
        <p>All information will be lost including your rating and review.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          (click)="deleteBook()"
          data-bs-dismiss="modal"
          class="btn btn-primary"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
