<div class="my-book-card-container" id="container">
  <div class="my-book-card-image-container">
    <img
      class="my-book-card-image"
      src="{{ book?.image }}"
      [routerLinkActive]="['link-active']"
      [routerLink]="['details', book?.id]"
    />
  </div>
  <div class="my-book-card-body">
    <h5 class="max-lines">{{ book?.title }}</h5>
    <p class="max-lines">{{ book?.author }}</p>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle {{ book?.status }}"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ book?.status }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a
            class="dropdown-item item-already-read"
            (click)="updateStatus('already read')"
            >Already read</a
          >
        </li>
        <li>
          <a
            class="dropdown-item item-currently-reading"
            (click)="updateStatus('currently reading')"
            >Currently reading</a
          >
        </li>
        <li>
          <a
            class="dropdown-item item-want-to-read"
            (click)="updateStatus('want to read')"
            >Want to read</a
          >
        </li>
      </ul>
    </div>
    <a class="remove-book" (click)="openModal(book?.id)">Remove</a>
  </div>
</div>
