.my-book-card-container {
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: whitesmoke;
  border-radius: 0.8rem;
  margin: 2rem;
}

.my-book-card-image-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding-bottom: 2rem;
}

.my-book-card-image {
  height: 10rem;
}

.my-book-card-image:hover {
  cursor: pointer;
  height: 12rem;
}

.my-book-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.remove-book {
  color: cornflowerblue;
}

.remove-book:hover {
  cursor: pointer;
  color: darkblue;
}

.max-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: initial;
  overflow: hidden;
}

.btn {
  background-color: #ffb74d;
  border-color: transparent;
}

.btn:hover {
  border-color: transparent;
}
